.App {
  color: #333;
  min-height: 100vh;
  background-color: azure;
}

.App-container {
  margin: 0 auto;
  max-width: 55rem;
}

/* .App-title {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
  background-color: darkturquoise;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
} */

@media(min-width: 60rem) {

}