.GameStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameStatus-icon {
  margin-top: 1rem;
}

.GameStatus-text {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 1rem;
}

.GameStatus-btn {
  background-color: #e57601;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5rem 1.5rem;
  margin: 1.5rem 1rem 0 0;
  width: 20rem;
  }
  
.GameStatus-btn:hover,
.GameStatus-btn:active {
  background-color: #ce6a00;
}
  
.GameStatus-btn:active {
  transform: translateY(1px);
}