.NumberInput {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  font-size: 1.2rem;
  margin: 1rem 1rem 0 1rem;
}

.NumberInput input {
  text-align: left;
}
 
.NumberInput label {
  font-size: 1.5rem;
  margin-right: 1rem;
  flex-grow: 1;
  text-align: left;
}