.ResourceCount {
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: .5rem;
  justify-content: end;
  margin-right: 2rem;
}

.ResourceCount-icon {
  margin-right: .25rem;
  color: darkcyan;
  filter: drop-shadow(2px 2px 2.5px rgba(0, 0, 0, 0.4));
}

.ResourceCount-number {
  color: #333;
  text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.8);
}

@media(min-width: 34rem) {
  .ResourceCount {
    font-size: 2.5rem;
  }
}